# Copyright 2026 Lars Hermges @l3montree GMBH

name: Documentation Policy Check
on:
  workflow_call:
    inputs:
      documentation-repo:
        type: string
        required: true
        description: "Write down the Documentation Repository that needs to be merged first"

      production-repos:
        type: string
        required: true
        description: "Write down every repository that has to wait for documentation to be merged first."



        


jobs:
  documentation_check:
    uses: ./.github/workflows/attestor.yml
    with:
      documentation-repo: ${{ inputs.documentation-repo }}
      production-repos: ${{ inputs.production-repo }}

