name: Cross Repository Issue Consumer

on:
    workflow_call:
      inputs:
        documentation_repo:
          type: string
          required: true
          description: "Write down the Documentation Repository that needs to be merged first"

        production_repo:
          type: string
          required: true
          description: "Write down every repository that has to wait for documentation to be merged first."

        policy_url:
          type: string
          required: true
          description: "URL to the policy file via raw.githubusercontent.com"
        json_path:
          type: string
          required: false
          description: "Write down the JSONPath filter expression to filter the issues (optional)"

 
jobs:
  attestor: 
    runs-on: ubuntu-latest
    container: ghcr.io/l3montree-dev/compliance-as-code-witness:latest 
    env:
      PR_NUMBER: ${{ github.event.number }}
      PR_TITLE: ${{ github.event.pull_request.title }}
      ATTESTATION_FILE: /tmp/attest.json
      POLICY_REGO: /tmp/policy.rego
      DOCUMENTATION_REPO: /tmp/doc_repo.json
      MERGE_COMMIT_SHA: ${{ github.event.pull_request.merge_commit_sha }}


    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Env Sanity Check
        run: echo $MERGE_COMMIT_SHA && echo $PR_TITLE

      - name: Debug binary
        run: |
          ls -la /usr/local/bin
          which compliance-as-code-witness || true
          /usr/local/bin/compliance-as-code-witness --help || true

      - name: Pull Request Check
        run: |
          /usr/local/bin/compliance-as-code-witness github issue \
            --repository "${{ inputs.documentation_repo }}" \
            --repository "${{ inputs.production_repos }}" \
            --filter="${{ inputs.json_path }}" > "$ATTESTATION_FILE" 
          cat "$ATTESTATION_FILE"
          echo "created $ATTESTATION_FILE"

      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: attestation-${{ env.MERGE_COMMIT_SHA }}
          path: ${{ env.ATTESTATION_FILE }}

      - name: fetch policy file
        run: |
          curl -o policy.rego "${{ inputs.policy_url }}"
          cat policy.rego > "$POLICY_REGO"

      - name: Download OPA
        uses: open-policy-agent/setup-opa@v2
        with:
          version: 1.10.1
      
      - name: Evaluate Policy
      
        run: | 

          echo '{"documentation_repo": "${{ inputs.documentation_repo }}", "production_repo": "${{ inputs.production_repo }}", "pull_request_title": "${{ env.PR_TITLE }}"}' > /tmp/doc_repo.json
          opa eval \
            --data $POLICY_REGO \
            --data $DOCUMENTATION_REPO \
            --input $ATTESTATION_FILE \
            'data.documentationMerged.failure_msg[_]' \
            --format  raw \
            --fail-defined



