name: Full DevGuard Scan
on:
  workflow_call:
    inputs:
      asset-name:
        description: 'Name of the asset to be scanned'
        type: string
        required: true

      api-url:
        type: string
        required: false
        default: "https://api.devguard.org"

      path:
        description: 'Path to the source code to be scanned'
        type: string
        required: false
        default: "/github/workspace"
      
      web-ui:
        type: string
        required: false
        default: "https://app.devguard.org"
        description: "The URL of the DevGuard Web UI. This is used to link the results in the DevGuard Web UI."

      disable-artifact-registry-as-image-store:
        required: false
        default: false
        type: boolean
        description: "If the artifact size is too big for your github usage quota, set this to true. This will push the image directly to the registry instead of uploading it as artifact."

      image-destination-path:
        description: 'Path to the oci image to be scanned. Only necessary if deploy reusable workflow is not used and you would like to do further processing of the builded image.tar'
        type: string
        required: false
        default: "image.tar"

      image:
        description: 'oci image tag'
        type: string
        required: false

      should-deploy:
        description: 'Should the deploy job run - publishing the image to the desired Container Registry'
        type: boolean
        required: false
        default: true

      image-suffix:
        # Suffix for the image name
        description: 'Suffix for the image name. You probably need this if you are building multiple images. For example building a <abc>/scanner image and a <abc>/web image.'
        type: string
        required: false
        default: ''

      fail-on-risk:
        description: 'Fail the job if a risk is higher than the configured threshold, e.g. critical, high, medium, low'
        type: string
        required: false

      fail-on-cvss:
        description: 'Fail the job if a CVSS score is higher than the configured threshold, e.g. critical, high, medium, low'
        type: string
        required: false

      continue-on-open-code-risk:
        type: boolean
        required: false
        default: true

      artifact-name:
        type: string
        required: false
        default: ''
        description: "The name of the artifact you are building. This is useful when a single pipeline builds more than a single artifact like a container with a shell inside and one without. If you build a single artifact - leave it empty."

    secrets:
      devguard-token:
        description: 'DevGuard API token'
        required: true
      build-args:
        description: 'Build arguments. Useful to overwrite context and dockerfile. Maybe even add additional build args.'
        required: false


permissions:
  contents: read
  packages: write

jobs:
  call-secret-scanning:
    uses: ./.github/workflows/secret-scanning.yml
    with:
      asset-name: ${{ inputs.asset-name }}
      api-url: ${{ inputs.api-url }}
      path: ${{ inputs.path }}
      web-ui: ${{ inputs.web-ui }}
      continue-on-open-code-risk: ${{ inputs.continue-on-open-code-risk }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}

  call-sast:
    uses: ./.github/workflows/sast.yml
    with:
      asset-name: ${{ inputs.asset-name }}
      api-url: ${{ inputs.api-url }}
      path: ${{ inputs.path }}
      web-ui: ${{ inputs.web-ui }}
      continue-on-open-code-risk: ${{ inputs.continue-on-open-code-risk }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}

  call-iac:
    uses: ./.github/workflows/iac.yml
    with:
      asset-name: ${{ inputs.asset-name }}
      api-url: ${{ inputs.api-url }}
      path: ${{ inputs.path }}
      web-ui: ${{ inputs.web-ui }}
      continue-on-open-code-risk: ${{ inputs.continue-on-open-code-risk }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}

  call-software-compsition-analysis:
    uses: ./.github/workflows/software-composition-analysis.yml
    with:
      asset-name: ${{ inputs.asset-name }}
      api-url: ${{ inputs.api-url }}
      path: ${{ inputs.path }}
      fail-on-risk: ${{ inputs.fail-on-risk }}
      fail-on-cvss: ${{ inputs.fail-on-cvss }}
      web-ui: ${{ inputs.web-ui }}#
#      artifact-name:   // WE ARE NOT!! PROVIDING THE ARTIFACT NAME RIGHT HERE - OTHERWISE CONTAINER AND SCA WOULD DO THE SAME ARTIFACT
    secrets:
      devguard-token: ${{ secrets.devguard-token }}

  call-build-image:
    uses: ./.github/workflows/build-image.yml
    with:
      image-destination-path: ${{ inputs.image-destination-path }}
      image: ${{ inputs.image }}
      asset-name: ${{ inputs.asset-name }}
      api-url: ${{ inputs.api-url }}
      disable-artifact-registry-as-image-store: ${{ inputs.disable-artifact-registry-as-image-store }}
      artifact-name: ${{ inputs.artifact-name }}
      image-suffix: ${{ inputs.image-suffix }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}
      build-args: ${{ secrets.build-args }}

  call-container-scanning:
    needs: call-build-image
    uses: ./.github/workflows/container-scanning.yml
    with:
      asset-name: ${{ inputs.asset-name }}
      api-url: ${{ inputs.api-url }}
      image-path: ${{ inputs.image-destination-path }}
      fetch-image-from-registry: ${{ inputs.disable-artifact-registry-as-image-store }}
      fail-on-risk: ${{ inputs.fail-on-risk }}
      fail-on-cvss: ${{ inputs.fail-on-cvss }}
      web-ui: ${{ inputs.web-ui }}
      artifact-name: ${{ inputs.artifact-name }}
      image-suffix: ${{ inputs.image-suffix }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}

  call-deploy:
    needs:
    - call-build-image
    - call-container-scanning
    - call-software-compsition-analysis
    - call-sast
    - call-secret-scanning
    - call-iac
    uses: ./.github/workflows/deploy.yml
    with:
      should-deploy: ${{ inputs.should-deploy }}
      asset-name: ${{ inputs.asset-name }}
      api-url: ${{ inputs.api-url }}
      image-already-in-registry: ${{ inputs.disable-artifact-registry-as-image-store }}
      image-suffix: ${{ inputs.image-suffix }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}

  call-sign:
    needs:
    - call-build-image
    - call-container-scanning
    - call-software-compsition-analysis
    - call-sast
    - call-secret-scanning
    - call-iac
    - call-deploy
    uses: ./.github/workflows/sign.yml
    with:
      should-deploy: ${{ inputs.should-deploy }}
      api-url: ${{ inputs.api-url }}
      asset-name: ${{ inputs.asset-name }}
      artifact-name: ${{ inputs.artifact-name }}
      image-suffix: ${{ inputs.image-suffix }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}

  call-attest:
    needs:
    - call-build-image
    - call-container-scanning
    - call-software-compsition-analysis
    - call-sast
    - call-secret-scanning
    - call-iac
    - call-deploy
    uses: ./.github/workflows/attest.yml
    with:
      should-deploy: ${{ inputs.should-deploy }}
      api-url: ${{ inputs.api-url }}
      asset-name: ${{ inputs.asset-name }}
      artifact-name: ${{ inputs.artifact-name }}
      image-suffix: ${{ inputs.image-suffix }}
    secrets:
      devguard-token: ${{ secrets.devguard-token }}